<a href="/characters/<%= @matchup.character_id %>"><p><%= @matchup.character.name %></a>vs<a href="/characters/<%= @matchup.opponent_id %>"><%= @matchup.opponent.name %></p></a>

<ul>
<% @matchup.opinions.each do |opinion| %>
  <li><%= opinion.body %></li>
<% end %>
</ul>

<%= form_for [@matchup, @opinion] do |f| %>
  <%= f.label :body %>
  <%= f.text_field :body %>

  <%= f.check_box :vote, {}, 1, 0 %>
  <%= f.check_box :vote, {}, -1, 0 %>

  <%= f.submit %>

<% end %>
