</br>
<body>
<div class = "container">
  <div class = "stats">

    <h3 style = "text-align: center">
  <%= link_to "#{@matchup.character.name}", character_path(@matchup.character) %> vs. <%= link_to "#{@matchup.opponent.name}",character_path(@matchup.character) %>
    </h3>


    <div class = "competition">
      <h1 class = "title"><%= @matchup.character.name%></h1>
      <img id = "pokemon" onerror="src='http://s3.amazonaws.com/char-fight-development/pokemon/pokeball.png'" src="http://s3.amazonaws.com/char-fight-development/pokemon/<%= @matchup.character.name %>.png" alt = "Pokemon" height = "270" width = "270"/>

      </br>
      <table style = "width:220px">
        <tr>
          <td class = "odd" width = "70" id = "table-label">Type</td>
          <td class = "odd" width="150"><%= @char_trait["type"] %></td>
        </tr>
        <tr >
          <td id = "table-label" width = "70">Abilities</td>
          <td width="150"><%= @char_trait["abilities"] %> </td>
        </tr>
        <tr>
          <td class = "odd" width = "70" id = "table-label">Attack</td>
          <td  class = "odd" width="150"><%= @char_trait["attack"] %></td>
        </tr>
        <tr>
          <td  id = "table-label" width = "70">Defense</td>
          <td  width="150"><%= @char_trait["defense"] %></td>
        </tr>
        <tr>
          <td class= "odd" id = "table-label"width = "70">Special Attack</td>
          <td class = "odd" width="150"><%= @char_trait["special_attack"] %></td>
        </tr>
        <tr>
          <td  id = "table-label" width = "70">Special Defense</td>
          <td  width="150"><%= @char_trait["special_defense"] %></td>
        </tr>
        <tr>
          <td class = "odd" id = "table-label" width = "70">Speed</td>
          <td class = "odd" width="150"><%= @char_trait["speed"] %></td>
        </tr>
      </table>
    </div>

    <div class = "opponent">
      <h1 class = "title"><%= @matchup.opponent.name%></h1>
      <img id = "pokemon" onerror="src='http://s3.amazonaws.com/char-fight-development/pokemon/pokeball.png'" src ="http://s3.amazonaws.com/char-fight-development/pokemon/<%= @matchup.opponent.name %>.png" alt = "Pokemon" height = "270" width = "270"/>
      </br>
      <table style = "width:220px">
        <tr>
          <td class = "odd"width = "70" id = "table-label">Type</td>
          <td class = "odd" width="150"><%= @opp_trait["type"] %></td>
        </tr>
        <tr >
          <td id = "table-label" width = "70">Abilities</td>
          <td width="150"><%= @opp_trait["abilities"] %> </td>
        </tr>
        <tr>
          <td class = "odd" id = "table-label" width = "70" id = "table-label">Attack</td>
          <td  class = "odd" width="150"><%= @opp_trait["attack"] %></td>
        </tr>
        <tr>
          <td  id = "table-label" width = "70">Defense</td>
          <td  width="150"><%= @opp_trait["defense"] %></td>
        </tr>
        <tr>
          <td class= "odd" id = "table-label" width = "70">Special Attack</td>
          <td class = "odd" width="150"><%= @opp_trait["special_attack"] %></td>
        </tr>
        <tr>
          <td  id = "table-label" width = "70">Special Defense</td>
          <td  width="150"><%= @opp_trait["special_defense"] %></td>
        </tr>
        <tr>
          <td class = "odd" id = "table-label" width = "70">Speed</td>
          <td class = "odd"><%= @opp_trait["speed"] %></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<h1 style = "text-align: center"><%=@matchup.tabulate%></h1>

<ul>
<% @matchup.opinions.each do |opinion| %>
  <li class = "review"><% if opinion.user.profile_photo != nil%>
    <img id = "profile-photo" src = "<%= opinion.user.profile_photo %>" height = "50" width = "50">
  <%end%>
  <strong><%= opinion.user.first_name%> says:</strong><%= opinion.body %></li>
<% end %>



<% if current_user && !current_user.has_opinion?(@matchup)%>
  <%= form_for [@matchup, @opinion] do |f| %>
    <%= f.label :body, "Battle Notes" %>
    <%= f.text_field :body %>

    <%= f.label :vote, "Choose The Winner!" %>

    <%= radio_button(:opinion, :winner_id, @matchup.character.id) %><%= @matchup.character.name %>
    <%= radio_button(:opinion, :winner_id, @matchup.opponent.id) %><%= @matchup.opponent.name %>

    <br>

    <%= f.submit %>

    <% if @opinion.errors.full_messages.any? %>
      <% @opinion.errors.full_messages.each do |err| %>
        <%= err %>
        <br>
      <% end %>
    <% end %>
    <br>
  <% end %>
<%end%>


<%= link_to "Go Back", matchups_path %>
</body>
