<h1 class = "title"><%= @character.name%></h1>
<img id = "pokemon" src = "http://<%= @character.photo%>" alt = "Pokemon" height = "270" width = "270"/>

<table style = "width:220px">
<tr>
<td id = "odd"width = "70" id = "table-label">Type</td>
<td id = "odd" width="150"><%= @traits["type"] %></td>
</tr>
<tr >
<td id = "table-label", width = "70">Abilities</td>
<td width="150"><%= @traits["abilities"] %> </td>
</tr>
<tr>
<td id = "odd"  width = "70" id = "table-label">Attack</td>
<td  id = "odd"width="150"><%= @traits["attack"] %></td>
</tr>
<tr>
<td  id = "table-label" width = "70">Defense</td>
<td  width="150"><%= @traits["defense"] %></td>
</tr>
<tr>
<td id= "odd" width = "70">Special Attack</td>
<td id = "odd" width="150"><%= @traits["special_attack"] %></td>
</tr>
<tr>
<td  id = "table-label" width = "70">Special Defense</td>
<td  width="150"><%= @traits["special_defense"] %></td>
</tr>
<tr>
<td id = "odd" width = "70">Speed</td>
<td  id = "odd" width="150"><%= @traits["speed"] %></td>
</tr>
</table>
