<h1 class = "title"><%= @character.name%></h1>
<img id = "pokemon" src = "http://<%= @character.photo%>" alt = "Pokemon" height = "270" width = "270"/>

<table style = "width:220px">
<tr>
<td class = "odd"width = "70" id = "table-label">Type</td>
<td class = "odd" width="150"><%= @traits["type"] %></td>
</tr>
<tr >
<td id = "table-label" width = "70">Abilities</td>
<td width="150"><%= @traits["abilities"] %> </td>
</tr>
<tr>
<td class = "odd" width = "70" id = "table-label">Attack</td>
<td  class = "odd" width="150"><%= @traits["attack"] %></td>
</tr>
<tr>
<td  id = "table-label" width = "70">Defense</td>
<td  width="150"><%= @traits["defense"] %></td>
</tr>
<tr>
<td class= "odd" width = "70">Special Attack</td>
<td class = "odd" width="150"><%= @traits["special_attack"] %></td>
</tr>
<tr>
<td  id = "table-label" width = "70">Special Defense</td>
<td  width="150"><%= @traits["special_defense"] %></td>
</tr>
<tr>
<td class = "odd" width = "70">Speed</td>
<td class = "odd" width="150"><%= @traits["speed"] %></td>
</tr>
</table>


<h3><%= "#{@character.name} has battled:"%></h3>

<ul>
  <%if @character.matchups.length == 0 %>
    <li>No one yet</li>
  <%else %>
    <% @character.matchups.each do |matchup| %>
      <li><%= link_to matchup.opponent.name, matchup_path(matchup) %></li>
    <% end %>
  <% end %>
</ul>

<li><%=link_to "Go back to view all characters", characters_path%></li>

