<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= flash[:notice] %>

    <% if current_user %>

      <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
    <% end %>


    <% if !current_user %>
      <%= link_to "Sign up", new_user_registration_path %>
      <%= link_to "Sign in", new_user_session_path %>
    <% end %>

    <%= yield %>

    <%if notice%>
      <p class="notice"><%= notice %></p>
    <%end%>

    <%if%>
       <p class="alert"><%= alert %></p>
    <%end%>

    <%= javascript_include_tag "application" %>
  </body>
</html>
