<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

<style type="text/css">
body {
    background-color: grey;
}
/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: black;
}

/* selected link */
a:active {
    color: black;
}




</style>
  <body>

  <div class = "fixed">
  <nav class = "top-bar">
  <ul class = "nav-bar">
    <% if current_user %>
      <li> <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
    <% end %>


    <% if !current_user %>

<font size="5"><a href="http://localhost:3000/characters"> <img src="http://img3.wikia.nocookie.net/__cb20130901024704/clubpenguin/images/4/4c/Pokeball.png"height="42" width="42" align = "left"></a>

    <ul class="left">
      <li>

        <a href="#">
        <font size="5"><%= link_to "Home", characters_path%></font>
        <font size="5"><%="|"%> </font>
          <font size="5"><%= link_to "Characters", characters_path%></font>
          <font size="5"><%="|"%> </font>
          <font size="5"><%= link_to "Matchups", characters_path%></font>
        </a>
      </li>
    </ul>



    <ul class="right">
      <li>
        <a href="#">
          <font size="5"><%= link_to "Sign in", new_user_session_path%>
          <font size="5"><%="|"%></font>
          <font size="5"><%= link_to "Sign up", new_user_registration_path%>
        </a>
      </li>
    </ul>

    <% end %>
    </ul>
    </section>
    </nav>
    </div>

    <%= yield %>



    <%if notice%>
      <p class="notice"><%= notice %></p>
    <%end%>

    <%if%>
       <p class="alert"><%= alert %></p>
    <%end%>

    <%= javascript_include_tag "application" %>
  </body>
</html>

