<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= flash[:notice] %>

      <ul>
      <li><%=link_to "View all matchups", matchups_path%></li>
      <li><%=link_to "View all characters", characters_path%></li>


    <% if current_user %>
      <li><%= link_to "Create A Matchup", new_matchup_path %></li>
      <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
    <% else %>
      <li><%= link_to "Sign up", new_user_registration_path %></li>
      <li><%= link_to "Sign in", new_user_session_path %></li>
    <% end %>
      </ul>

    <%= yield %>

    <%if notice%>
      <p class="notice"><%= notice %></p>
    <%end%>

    <%if%>
       <p class="alert"><%= alert %></p>
    <%end%>

    <%= javascript_include_tag "application" %>
  </body>
</html>
